---
import { Icon } from 'astro-icon/components';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About Us | Team you can trust',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: '~/assets/images/image about.jpg',
      alt: 'Our Team with pharma background comes from different countries',
    }}
  >
    <Fragment slot="title">
      In Pursuit of <br />
      <span class="text-accent dark:text-white highlight"> Better Health Solutions.</span>
    </Fragment>

    <Fragment slot="subtitle">
      Prunus Pharma is always on the look out to provide its customers with quality pharmaceuticals at the most
      competitive price. We target different therapeutic segments and market a comprehensive range of specialty
      pharmaceuticals customised to market for treatment of patients. We clearly understand our customer’s
      pharmaceutical needs and use cutting edge technology to present innovative solutions. Our business includes
      import, distribution and marketing of Branded-Generics and Generics in East-Africa and Sub-Saharan Africa. In
      Kenya, we have presence in high growth specialty formulations of anti-malarials, anti-biotics and pain-management.
      We pride ourselves on excellent level of customer satisfaction and best in class distribution service.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Products', amount: '100+' },
      { title: 'Customers', amount: '200+' },
      { title: 'Employees', amount: '100+' },
      { title: 'Countries', amount: '4' },
    ]}
  />

  <Content
    id="about prunus pharma"
    columns={3}
    image={{
      src: '~/assets/images/pharmacist dispencing medicine.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="font-bold tracking-tight dark:text-white mb-2">About Us</h3>
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Brief Intro of Prunus</h2>
      <p class="text-justify">
        Prunus Pharma Ltd is Kenya based pharmaceutical company. We are among the top importers, wholesalers and
        distributors. We are working with branded and generic pharmaceuticals. We are committed to upholding to the
        principles of Good Distribution Practice(GDP).
        <br />
         We are experts in sourcing, storage, supplying and distributing generic and patented pharmaceuticals,
        biologicals and licensed products to the Kenya and International customers. As an established and well reputed
        company, we have built up an enviable customer base that includes pharmacies, overseas wholesalers, after-care
        markets, Ministries of Health. We are licensed by the Pharmacy And Poisons(PPB) Board holding both a Wholesales
        and Premise license .This enables us to supply, store and distribute medicinal products including branded,
        generic, biologicals and controlled drugs. Being an accredited supplier to the public and private sector
        hospitals, clinics, healthcare authorities and NGOs, we are audited and certified by multiple Authorities.
        <br />
         As an integrated healthcare distributor, we are always keen to work with new suppliers, hospitals,
        pharmaceutical distributors, surgeries and independent pharmacies at highest level of customer satisfaction.
        <br />
         At Prunus Pharma, we are dedicated to provide best solutions to individual and corporate clients. Our team
        fully understands the critical factor needed to be considered a serious player in the sector.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Values"
    subtitle="Values are like lighthouses. <br/> They are signals giving us Direction, Meaning, and Purpose"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Innovation',
        description:
          'Innovation is the lifeblood of the pharmaceutical industry. With a global population aging and an increased incidence of chronic diseases, there is a growing need for new medicines that can address these challenges.',
        icon: 'tabler:template',
      },
      {
        title: 'Teamwork',
        description:
          'Teamwork is a key element for any company. It can help employees to work together and solve problems faster. This is especially important in the pharmaceutical industry where team members are often working on different tasks and have to coordinate their efforts.',
        icon: 'tabler:template',
      },
      {
        title: 'Sustainablility',
        description:
          'A sustainable distribution company should be able to provide a clear understanding of how they are fulfilling their responsibility, as well as how they are reducing the environmental footprint on natural resources and ecosystems.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Integrity',
        description:
          'Pharma distribution is a complex process with many stakeholders. With the rise of counterfeit drugs, transparency and integrity are an utmost importance for pharma companies.',
        icon: 'tabler:template',
      },
      {
        title: 'Excellence',
        description:
          'Excellence is the right strategy for pharma distribution. Prunus is not just a service provider, we are also a partner in health care. We have to be excellent at what we do and provide the best possible service to our customers.',
        icon: 'tabler:template',
      },
      {
        title: 'Commitment',
        description:
          'We are committed to the customer and we are committed to providing the best service possible. We guarantee that you will be satisfied with our service.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Commited To Partners"
    subtitle="We are committed to all our Partners to provide our best for their best."
    items={[
      {
        title: 'Community Pharmacy',
        description: '',
        icon: 'tabler:pill',
      },
      {
        title: 'Regulatory Bodies',
        description: '',
        icon: 'tabler:list-check',
      },
      {
        title: 'Doctors & Hospitals',
        description: '',
        icon: 'tabler:prescription',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Achievements"
    subtitle="Since our humble beginnings in 2017, we have achieved a lot apart from our growing products portfolio, customers and operation bases. What we crave more is Excellence."
    isReversed={true}
    items={[
      {
        title: 'Pan East-Africa reach',
        description: 'We have expanded our operations in Whole East Africa to provide single solution to our partners.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description: 'We are proud that all our customers provide valuable fedback to us for our constant Improvement.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'We have been awarded the distinction of being most reliable pharmaceutical supplier in 2022 and 2023.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our locations"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'Kenya',
      },
      {
        title: 'Uganda',
      },
      {
        title: 'Tanzania',
      },
      {
        title: 'Ghana',
      },
    ]}
  />
</Layout>
