---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';

const metadata = {
  title: 'Prunus  | Pharma importer, distributor and wholesaler in Kenya',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero image={{ src: '~/assets/images/heroimg.png', alt: 'Prunus Hero Image' }}>
    <Fragment slot="title">
      Partner You Can Trust <span class="hidden"
        >To Manufacture, Supply, Distribute, Import, Wholesale Best Pharmaceutical Medicine
      </span>
    </Fragment>

    <Fragment slot="content">
      <p
        class="mb-6 dark:text-slate-300 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
      >
        <span class="hidden sm:inline">
          <span class="font-semibold">Prunus</span> Pharma is
        </span>
        <span class="block mb-1 sm:hidden font-bold text-blue-600">Prunus: Name you can Trust.</span>
        company headquartered in Nairobi Kenya. Prunus is one of the top importers of Pharma products, and is engaged in
        distribution and wholesale of pharmaceutical products in Kenya. <span class="hidden"
          >As international branded pharmaceutical distributor in Kenya,
        </span> We are operating across Kenya in branded and branded-generic pharmaceuticals.
      </p>
    </Fragment>

    <Fragment slot="content">
      <p
        class="mb-6 dark:text-slate-300 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
      >
        Our products are available across Kenya through a reliable network of distributors strategically located in all
        counties and major cities & towns. This comprehensive distribution network ensures timely availability and
        accessibility of our products countrywide. The strong demand for our products is driven by an experienced,
        technology-enabled and dedicated marketing team, ensuring consistent growth and customer satisfaction.
        <br />
        Our Customers trust our efficient distribution system to meet the needs of healthcare providers and customers nationwide.
      </p>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Products', amount: '100+' },
      { title: 'Customers', amount: '200+' },
      { title: 'Employees', amount: '100+' },
      { title: 'Countries', amount: '4' },
    ]}
  />

  <!-- Features Widget *************** -->

  <Content
    id="about prunus pharma"
    columns={3}
    image={{
      src: '~/assets/images/pharmacist dispencing medicine.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Leading Supplier of Pharmaceuticals in Kenya and East Africa
      </h3>
      <p class="text-justify">
        Prunus Pharma is dedicated to providing high-quality pharmaceuticals at competitive prices. As one of Kenya’s
        top pharmaceutical importers, we specialize in targeting diverse therapeutic segments and offering a
        comprehensive range of specialty pharmaceuticals tailored for the Kenyan and East African markets.
        <br />

        Our business spans the import, distribution, and marketing of Branded-Generics and Generics across East Africa
        and Sub-Saharan Africa. In Kenya, we focus on high-growth therapeutic areas, including Anti-Malarials,
        Antibiotics, and Pain-Management formulations. We pride ourselves on being market leader in pessaries and
        suppositories segment.
        <br />

        With an unwavering commitment to customer satisfaction and a robust pharmaceutical distribution network, Prunus
        Pharma strives to become the largest pharma wholesaler in Kenya and East Africa. Explore reliable, high-quality
        solutions for all your pharmaceutical and healthcare needs. Trust us for reliable, high-quality solutions in the
        pharmaceutical industry.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    id="looking for partners and partnership"
    columns={3}
    image={{
      src: '~/assets/images/image about.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Seeking Global Partners for Product Distribution
      </h3>
      <p class="text-justify">
        Prunus Pharma is actively looking for strategic partnerships with organizations interested in launching and
        marketing their pharmaceutical products in Kenya. We are open to Licensing agreements, Marketing collaborations,
        and long-term business partnerships to expand our product offerings.
        <br />

        Leveraging our established marketing expertise, Prunus Pharma aims to grow its therapeutic range by partnering
        with manufacturers of high-quality pharmaceuticals, medical commodities, medical equipment, and diagnostics from
        around the globe.
        <br />

        Join us in establishing a strong distribution network in Kenya and expanding the reach of your products.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Features3
    id="Pharmaceutical Product Segments"
    title="Product Segments"
    subtitle="Fulfilling Pharmaceutical Needs In Kenya Since 2017"
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Anti-malarials',
      },
      {
        title: 'Anti-infectives',
      },
      {
        title: 'Gynaecology',
      },
      {
        title: 'Paediatrics',
      },
      {
        title: 'Psychiatry',
      },
      {
        title: 'Neurology',
      },
      {
        title: 'Cardiology',
      },
      {
        title: 'Orthopaedics',
      },
      {
        title: 'Diabetology',
      },
      {
        title: 'Gastroenterology',
      },
      {
        title: 'Ophthalmology',
      },
      {
        title: 'Nephrology',
      },
      {
        title: 'Urology',
      },
      {
        title: 'Dermatology',
      },
      {
        title: 'Respiratory care',
      },
      {
        title: 'Oncology',
      },
      {
        title: 'Dental care',
      },
      {
        title: 'Nutritionals',
      },
    ]}
  />

  <!-- <Features
    id="features"
    tagline="Product Segment"
    title="Main Segments We Work With"
    subtitle="Fulfilling Pharmaceutical Needs In Kenya Since 2017"
    items={[
      {
        title: 'Anti-Malarial',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Anti-Biotic',
        icon: 'tabler:components',
      },
      {
        title: 'Analgesic',
        icon: 'tabler:list-check',
      },
      {
        title: 'Dematology',
        icon: 'tabler:rocket',
      },
      {
        title: 'Cardiovascular',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Nutrition Supplements',
        icon: 'tabler:bulb',
      },
    ]}
  /> -->

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="From CEO's Desk"
    title="Only the Best will do!"
    items={[
      {
        title: 'Integrity Matters',
        description:
          'Provinding Good Quality, Right Medicine at Appropriate Time and at Right Price to all the stakeholders is must.',
      },
      {
        title: 'Teamwork',
        description: 'With dedicated team comes Great teamwork leading to progress, expansion and strength',
      },
      {
        title: 'Excellence',
        description: 'Strive to do Better than what others can to achieve our targets as an Organization.',
      },
      {
        title: 'Innovation',
        description: 'Using all available IT tools like MRx to touch point all the stakeholders',
      },
    ]}
    image={{
      src: '~/assets/images/different pharma products.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Building on Strong foundations, Fastest Growing Pharma Company
      </h3>
      We have been one of the fastest pharma distribution company in Kenya in last 5 years. The company has over 100 employees
      across its three African markets and controls about 10% of the Kenyan market share for pharmaceutical products.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    tagline="Advantages of Working with Us"
    title="Addtional Services we Offer"
    items={[
      { title: 'Recruitment of Field Force and Medical Representatives' },
      { title: 'Strategy for product placement & go to market' },
      { title: 'Warehousing and Inventory Management' },
      { title: 'Regulatory Affairs' },
      { title: 'Marketing and Promotion' },
      { title: 'Training and Development' },
      { title: 'Logistics and Distribution' },
      { title: 'MRx: Online Medical Representatives detailing and reporting system' },
    ]}
    image={{
      src: '~/assets/images/services.png',
      alt: 'Colorful Image',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts title="Find out more about us in our Blog Section" />
</Layout>
