---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Prunus  | Pharma importer and wholesaler in Kenya',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero image={{ src: '~/assets/images/heroimg.png', alt: 'Prunus Hero Image' }}>
    <Fragment slot="title">
      Partner You Can Trust <span class="hidden"
        >To Manufacture, Supply, Distribute, Import, Wholesale Best Pharmaceutical Medicine
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Prunus</span> Pharma is
      </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Prunus: Name you can Trust.</span>
       company headquartered in Nairobi Kenya. Prunus is one of the top importers of Pharma products, and is engaged in
      distribution and wholesale of pharmaceutical products in Kenya. <span class="hidden"
        >As international branded pharmaceutical distributor in Kenya,
      </span> We are operating across Kenya in branded and branded-generic pharmaceuticals.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Products', amount: '100+' },
      { title: 'Customers', amount: '200+' },
      { title: 'Employees', amount: '100+' },
      { title: 'Countries', amount: '4' },
    ]}
  />

  <!-- Features Widget *************** -->

  <Content
    id="about prunus pharma"
    columns={3}
    image={{
      src: '~/assets/images/pharmacist dispencing medicine.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Fulfilling Pharmaceutical Needs
      </h3>
      <p class="text-justify">
        Prunus Pharma is always on the look out to provide its customers with quality pharmaceuticals at the most
        competitive price. As being one of the top pharmaceutical importers in Kenya, we target different therapeutic
        segments and market a comprehensive range of specialty pharmaceuticals customized to Kenya and East African
        market. Our business includes import, distribution and marketing of Branded-Generics and Generics in East-Africa
        and Sub-Saharan Africa.
        <br />
         In Kenya, we have presence in high growth specialty formulations of Anti-Malarials, Anti-Biotics and
        Pain-Management. We pride ourselves on excellent level of customer satisfaction and best in class distribution
        service. We are committed to become the largest wholesaler of pharmaceuticals in Kenya and East-Africa.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Features
    id="features"
    tagline="Product Segment"
    title="Main Segments We Work With"
    subtitle="Fulfilling Pharmaceutical Needs In Kenya Since 2017"
    items={[
      {
        title: 'Anti-Malarial',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Anti-Biotic',
        icon: 'tabler:components',
      },
      {
        title: 'Analgesic',
        icon: 'tabler:list-check',
      },
      {
        title: 'Dematology',
        icon: 'tabler:rocket',
      },
      {
        title: 'Cardiovascular',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Nutrition Supplements',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="From CEO's Desk"
    title="Only the Best will do!"
    items={[
      {
        title: 'Integrity Matters',
        description:
          'Provinding Good Quality, Right Medicine at Appropriate Time and at Right Price to all the stakeholders is must.',
      },
      {
        title: 'Teamwork',
        description: 'With dedicated team comes Great teamwork leading to progress, expansion and strength',
      },
      {
        title: 'Excellence',
        description: 'Strive to do Better than what others can to achieve our targets as an Organization.',
      },
      {
        title: 'Innovation',
        description: 'Using all available IT tools like MRx to touch point all the stakeholders',
      },
    ]}
    image={{
      src: '~/assets/images/different pharma products.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Building on Strong foundations, Fastest Growing Pharma Company
      </h3>
       We have been one of the fastest pharma distribution company in Kenya in last 5 years. The company has over 100
      employees across its three African markets and controls about 10% of the Kenyan market share for pharmaceutical
      products.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts title="Find out more about us in our Blog Section" />
</Layout>
