---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Headline from '~/components/ui/Headline.astro';
import Layout from '~/layouts/PageLayout.astro';
import { products } from '~/products';
import Features3 from '~/components/widgets/Features3.astro';
const metadata = {
  title: 'Products | Products from Top Pharmaceutical',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Products"
    title="High-Quality Pharmaceutical Products from Top Manufacturers"
    subtitle="Generic and branded medicines"
    image={{
      src: '~/assets/images/heroimg.png',
      alt: 'Prunus Hero Image',
    }}
  >
    <Fragment slot="content">
      <p>
        At Prunus Pharma, we deliver affordable generic and branded medicines to meet the needs of patients and doctors.
        Our portfolio includes over 100 specialized molecules backed by technology-driven differentiation, ensuring
        high-quality healthcare solutions.
        <br />

        We offer a full range of dosage forms, including tablets, capsules, injectables, inhalers, ointments, creams,
        and liquids. Our comprehensive therapeutic coverage spans key areas such as:
      </p>
      <Features3
        title="Segments"
        columns={3}
        defaultIcon="tabler:point-filled"
        items={[
          {
            title: 'Anti-malarials',
          },
          {
            title: 'Anti-infectives',
          },
          {
            title: 'Gynaecology',
          },
          {
            title: 'Paediatrics',
          },
          {
            title: 'Psychiatry',
          },
          {
            title: 'Neurology',
          },
          {
            title: 'Cardiology',
          },
          {
            title: 'Orthopaedics',
          },
          {
            title: 'Diabetology',
          },
          {
            title: 'Gastroenterology',
          },
          {
            title: 'Ophthalmology',
          },
          {
            title: 'Nephrology',
          },
          {
            title: 'Urology',
          },
          {
            title: 'Dermatology',
          },
          {
            title: 'Respiratory care',
          },
          {
            title: 'Oncology',
          },
          {
            title: 'Dental care',
          },
          {
            title: 'Nutritionals',
          },
        ]}
      />
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Explore our diverse product range"
    subtitle="Discover our products for every need."
    columns={3}
    items={[
      {
        title: 'Generics',
        description:
          'We have played an effective role in reducing the disease burden across key therapy areas by providing access to affordable mission-critical medicines. In Kenya, more than 70% of our products rank amongst the top three products in their respective segments. Going beyond the pill, our numerous patient-centric initiatives are aimed at patient education, disease awareness, and easy disease monitoring and management.',
        icon: 'tabler:school',
      },

      {
        title: 'Specialty Drugs',
        description:
          'The changing landscape of patient needs and disease complexity offers opportunities for special branded medication in specific therapy areas. We have identified women’s health and wellness in Kenya and rare diseases in the East African region as core focus areas for our specialty strategy. We continue working towards expanding the reach of our existing products and adding more specialty products to our portfolio.',
        icon: 'tabler:article',
      },
      {
        title: 'Over-the-Counter',
        description:
          'Our OTC divisions across the East Africa are committed to bringing value-based offerings to meet consumer demands and enhance their quality of life. Backed by a robust distribution network, we offer both Rx-to-OTC and direct OTC products to address growing consumer needs. From bowel regulators and intimate hygiene solutions for women, to health supplements for men and a range of personal sanitisation products, our portfolio comprises a variety of differentiated products.',
        icon: 'tabler:vaccine',
      },
    ]}
  />

  <Headline title="All Products" subtitle="Contact Us For Full Product Range" classes={{ container: 'md:mb-0' }} />

  <section class="flex items-center h-full p-16 pt-0">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <table
        class="w-full text-sm text-left rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)] dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur border border-separate border-[#ffffff29] bg-white dark:bg-slate-900"
      >
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-slate-900 dark:text-white">
          <tr>
            <th scope="col" class="px-6 py-3"> Brand name</th>
            <th scope="col" class="px-6 py-3"> Generic Name</th>
            <th scope="col" class="px-6 py-3"> Form</th>
          </tr>
        </thead>
        <tbody>
          {
            products.map(({ brand, generic, form }) => (
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {brand}
                </th>
                <td class="px-6 py-4"> {generic} </td>
                <td class="px-6 py-4"> {form} </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </section>
</Layout>
