---
// import { SITE } from '~/utils/config';
import navlogo from '~/assets/favicons/nav.svg';
import { Image } from 'astro:assets';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={navlogo} width="160" alt="A bird sitting on a nest of eggs." />
</span>
