---
import type { ImageType } from '~/types';

import Image from '~/components/common/Image.astro';

import { findImage } from '~/utils/images';

export interface Props {
  image: ImageType;
}

const { image } = Astro.props;
const image_to_render = await findImage(image.src);
---

<article class="mb-6 transition">
  <div class="relative md:h-128 bg-gray-400 dark:bg-slate-700 rounded shadow-lg mb-6">
    {
      image_to_render && (
        <Image
          src={image.src}
          class="w-full md:h-full rounded shadow-lg bg-gray-400 dark:bg-slate-700"
          widths={[400, 900]}
          width={400}
          sizes="(max-width: 900px) 400px, 900px"
          alt={image.alt}
          aspectRatio="16:9"
          layout="cover"
          loading="lazy"
          decoding="async"
        />
      )
    }
  </div>
</article>
